* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(120deg, #f6d365, #fda085);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 100%;
}

.dashboard-box {
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
    margin: 20px;
}

.dashboard-box h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.dashboard-box h2, .dashboard-box p {
    margin-bottom: 10px;
    color: #666;
}

.dashboard-box h3 {
    margin: 20px 0 10px;
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

form {
    text-align: right;
}

form button {
    background: #6a82fb;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

form button:hover {
    background: #5a72ea;
    color: #ffcc00;
}

.logout-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* .logout-button {
    position: relative;
    margin-left: 50px; 
    margin-top: 700px;   
    margin-right: 100px;
} */